* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: monospace;
}
.table-title {
margin-top: 100px;
width: 900px;
height: 500px;
}
table tr:nth-child(odd) {
  background-color: #92bbe1;
}

table{
  border: solid #7b1212 2px;
  border-color: solid #3a7a86;
}
.table-border-color{
  background-color: #627f84;
}
.header-head{
display: flex;
justify-content: center;
}