* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: monospace;
}
.table-title {
  margin-top: 50px;
}
table tr:nth-child(odd) {
  background-color: #92bbe1;
}

table{
  border: solid #000000 2px;
  border-color: solid #17a5be;
}
.table-border-color{
  background-color: #17a5be;
}
.header-head{
display: flex;
justify-content: center;
}